'context-menu':
	'.tab-bar': [
		{ label: 'Open VCS New Files', command: 'repository-file-actions:open-repository-new-files' },
		{ label: 'Open VCS Modified Files', command: 'repository-file-actions:open-repository-modified-files' },
		{ type: 'separator' }
	]
	'.tab': [
		{ label: 'Open VCS New Files', command: 'repository-file-actions:open-repository-new-files' },
		{ label: 'Open VCS Modified Files', command: 'repository-file-actions:open-repository-modified-files' },
		{ type: 'separator' },
		{ label: 'Close VCS Unmodified files', command: 'repository-file-actions:close-repository-unmodified-user-unmodified-files' },
		{ label: 'Close VCS Unmodified files to the Right', command: 'repository-file-actions:close-right-repository-unmodified-user-unmodified-files' },
		{ label: 'Keep Only VCS New and Modified Files', command: 'repository-file-actions:keep-only-repository-new-modified-user-modified-files' },
		{ label: 'Keep Only VCS New and Modified Files to the Right', command: 'repository-file-actions:keep-only-right-repository-new-modified-user-modified-files' },
		{ type: 'separator' }
	]
